*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}
#nav{
    height: 80px;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 1px solid white;
}
#nav>a{
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    text-shadow: 1px 2px 2px white;
}
#myform{
    height: 80vh;
    width: 100%;
    background: linear-gradient(black,white);
    display: flex;
    align-items: center;
    justify-content: center;
}
#myform>form{
    height: 300px;
    width: 300px;
    border: 1px solid white;
    color: white;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0px 0px 5px white;
    border-radius: 10px;
}
#myform input{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
}
#myform input:focus{
    outline: none;
    color: white;
}
#myform button{
    height: 30px;
    width: 120px;
    border: none;
    border-radius: 50px;
    box-shadow: 0px 0px 5px white;
    margin-top: 10px;
}
#myform>form>tr>td,th{
    padding: 13px;
}
#userpage{
    background: linear-gradient(black,yellow);
    display: flex;
    height: 90vh;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
#card{
    height: 200px;
    width: 220px;
    border: 1px solid white;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    border-radius: 10px;
    box-shadow: 0px 0px 5px white;
}
#card td{
    padding: 10px;
}
button{
    height: 25px;
    width: 80px;
    border: none;
    border-radius: 50px;
    box-shadow: 0px 0px 5px white;
}
